@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d0f4de;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 1rem;
}

.header {
    background-color: #a9def9;
    color:#006d77;
    text-align: center;
    padding: 0.5rem 0;
    width: 103%;
    border-radius: 10px;
}

.header h1 {
    font-size: 3rem;
    font-family: "SUSE", system-ui;
    font-weight: bold;
}
#cv-title {
    font-size: 1.2rem;
    color: #006d77;
    margin-bottom: 30px; /* Adjusted to reduce gap */
    margin-top: -10px;
    
}

/* New CSS rule for the contact information section */
#cv-info-container {
    margin-top: 0; /* Remove top margin */
}


#cv-info-container p {
    bottom:  50px; /* Reduce margin between contact info items */
    font-size: 1rem;
    line-height: 1.5;
}


#cv-main {
    width: 100%;
    max-width: 900px;
    background-color: #a9def9;
    padding: 1.5rem;
    border: 2px solid #006d77;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;;
    margin-bottom: 10px;
}

#cv-image-container {
    border: 2px solid #006d77;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
   margin-top:-80px;
    margin-left: 600px;
    border-radius: 3px;
    position:absolute;
}

#cv-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#cv-name {
    font-size: 3rem;
    font-weight: bold;
    border:none;
}

#cv-info-container p {
    margin-top: 10px;
    font-size: 1rem;
}

h2 {
    border-bottom: 2px solid #006d77;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 1.5rem;
    
}

p, ul {
    font-family: "SUSE", system-ui;
    font-size: 1.1rem;
    line-height: 1.6;
}

#cv-achievements, #cv-skills {
    list-style-type: none;
    padding-left: 0;
}

.footer {
    background-color: #a9def9;
    color: #006d77;
    width: 103%;
    
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

.footer a {
    color:#006d77;
    text-decoration: underline;
}

#toggle-btn, button {
    background-color: #006d77;
    color: #a9def9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

#toggle-btn:hover {
    background-color: #83c5be;
    color:#a9def9;
}

@media (max-width: 768px) {
    #cv-main {
        padding: 1rem;
    }

    #cv-image-container {
        margin: 0 auto;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }
    #cv-image-container {
        display: none;
    }

    p {
        font-size: 1rem;
    }
}

@media print{
    .btn {
        display:none;
      }
      #cv-image-container {
        float: right;
        top: 150px;
        right: 70px;
    }
}
