@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d0f4de;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
   
}
.header {
    background-color: #a9def9;
    color:#003d44;
    text-align: center;
    width: 100%;
    height: 6rem;    
}

.header h1 {
    padding-top: 20px;
    font-size: 3rem;
    color: #33939B;
    font-family: "SUSE", system-ui;
    font-weight: bold;
}
#cv-title {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 30px; /* Adjusted to reduce gap */
    margin-top: -10px;
    
}

/* New CSS rule for the contact information section */
#cv-info-container {
    margin-top: 0; /* Remove top margin */
}


#cv-info-container p {
    bottom:  50px; /* Reduce margin between contact info items */
    font-size: 1rem;
    line-height: 1.5;
}


#cv-main {
    width: 100%;
    max-width: 900px;
    background-color: #a9def9;
    padding: 1.5rem;
    border: 2px solid #006d77;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;;
    margin-bottom: 10px;
    position:relative;
}

#cv-image-container {
    border: 2px solid #006d77;
    width: 150px;
    height: 150px;
    overflow: hidden;
    top:100px;
    right:150px;   
    border-radius: 3px;
    position:absolute;
}

#cv-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#cv-name {
    font-size: 3rem;
    font-weight: bold;
    border:none;
}

#cv-info-container p {
    margin-top: 10px;
    font-size: 1rem;
}


h2 {
    border-bottom: 2px solid #006d77;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 1.5rem;
    
}
p, ul {
    font-family: "SUSE", system-ui;
    font-size: 1.1rem;
    line-height: 1.6;
}

#cv-achievements, #cv-skills {
    list-style-type: none;
    padding-left: 0;
}

.footer {
    background-color: #a9def9;
    color: #006d77;
    width: 100%;
    text-align: center;
    padding: 1rem;
    
}
.footer a {
    color:#006d77;
    text-decoration: underline;
}

#toggle-btn, button {
    background-color: #006d77;
    color: #a9def9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

#toggle-btn:hover,button:hover {
    background-color: #33939b;
    color:#006d77;
}

@media (max-width: 768px) {
    #cv-main {
        text-align: center;
        margin-top: 1rem;
    }

    #cv-image-container{
        top:0;
        right:0;
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-right: 100px;
    }
    .header{
        width:100%;
        height:4rem;
    }

    .header h1 {
        padding-top: 10px;
        font-size: 2rem;
    }

    #cv-name {
        margin-top: 130px;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
    footer p{
        font-size: 0.8rem;
    }
}

@media print{
    .btn {
        display:none;
      }
      #cv-image-container {
        float: right;
        top: 150px;
        right: 70px;
    }
}
